/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #4CAF50, #2E8B57);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Container */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Register Card */
.register-box {
    width: 420px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
    text-align: center;
}

/* Main Heading */
.register-box h1 {
    color: #2E8B57;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Sub Heading */
.register-box h2 {
    color: #555;
    margin-bottom: 25px;
    font-size: 26px;
}

/* Form */
.register-box form {
    display: flex;
    flex-direction: column;
}

/* Input Fields */
.register-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

.register-box input:focus {
    border-color: #2E8B57;
    outline: none;
    box-shadow: 0 0 8px rgba(46,139,87,0.3);
}

/* Register Button */
.register-box button {
    width: 100%;
    padding: 14px;
    background: #2E8B57;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.register-box button:hover {
    background: #256f46;
}

/* Login Text */
.register-box p {
    margin-top: 20px;
    color: #555;
    font-size: 16px;
}

/* Login Link */
.register-box a {
    color: #2E8B57;
    text-decoration: none;
    font-weight: bold;
}

.register-box a:hover {
    text-decoration: underline;
}