<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Portal</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>

<div class="container">

    <div class="register-box">

        <h1>🌿 Smart Waste Management</h1>

        <h2>👤 Public Portal</h2>

        <a href="/login">
            <button>Login</button>
        </a>

        <br><br>

        <a href="/register">
            <button>Register</button>
        </a>

        <br><br>

        <a href="/user_type">⬅ Back</a>

    </div>

</div>

</body>
</html>